.services {
  padding: 100px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
}
.services-text {
  margin-bottom: 30px;
  font-size: 20px;
  padding: 0px 100px;
  text-align: center;
  margin-bottom: 30px;
}
.services-slider {
  width: 1000px;
  height: 600px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1230px) {
  .services-slider {
    width: 750px;
    height: 450px;
  }
}

@media screen and (max-width: 820px) {
  .services-slider {
    width: 510px;
    height: 350px;
  }
}
@media screen and (max-width: 550px) {
  .services-slider {
    width: 310px;
    height: 250px;
  }
}
