.apartments {
  min-height: 100dvh;
}
.apartments-container {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
}

.apartments-buildings-container {
  background: white;
}

.apartment-title {
  font-size: 25px;
  font-weight: 500;
}

.apartments-section-description {
  font-size: 20px;

  padding: 0px 100px;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
  margin: 0px 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.ap-info {
  display: flex;
  margin: 10px 0 10px 0;
  color: black;
}

.wrap {
  width: 50%;
  padding: 20px;
  color: black;
  text-decoration: none;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.bar {
  margin: 0px 10px;
}

.airbnb-icon-container {
  display: flex;
  background: #ff385c;
  color: white;
  text-decoration: none;
  padding: 10px;
  width: fit-content;
  margin-top: 20px;
}

.airbnb-icon-container:hover {
  background: #882033;
}

.slider-apartment {
  width: 565px;
  height: 450px;
}

@media screen and (max-width: 1230px) {
  .slider-apartment {
    width: 500px;
    height: 400px;
  }
  .wrap {
    width: 500px;
  }
  .apartments-section-description {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    flex-direction: column;
    margin: 0 20px;
  }
  .wrap {
    width: 310px;
  }

  .slider-apartment {
    width: 550px;
    height: 440px;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 600px) {
  .slider-apartment {
    width: 310px;
    height: 248px;
  }
}

.buildings-container {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
