.things-to-do {
  min-height: 100dvh;
}

.things-to-do-container {
  padding: 100px 80px;
  background: white;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
}

.que-hacemos-hoy {
  width: 200px;
}

.things-to-do-title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 25px;
  color: var(--tertiary);
  display: flex;
}

.to-do-list {
  text-decoration: none;
  color: black;
}

.things-to-do-description {
  margin-bottom: 25px;
}
