.slider-list,
.slider-list-element {
  list-style: none;
  white-space: nowrap;
}

.slider-list-element {
  display: inline;
}

.slider-img {
  /* object-fit: cover; */
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-container {
  /* width: 100%; */
  height: 100%;
  position: relative;
}

.left {
  left: 35px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow:hover {
  color: #000;
  background: #fff;
}

.right {
  right: 35px;
}

.container-images {
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  overflow: hidden;
  display: flex;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
